<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        margin: 0;
      }
      .content {
        display: flex;
      }
      .main-content {
        padding: 3rem;
      }
      P {
        margin-top: 1rem;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <%- include('../../partials/sidebar') %>
      <div class="main-content">
        <h1>Welcome,</h1>
        <p>This is your simple dashboard.</p>
      </div>
    </div>
  </body>
</html>
